<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175649557274-c6sdp83q83jhme73s87r53lcach8qpes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175649557274-c6sdp83q83jhme73s87r53lcach8qpes</string>
	<key>API_KEY</key>
	<string>AIzaSyBL6F-BpLbaeIj-oKyEy7b_qgNxe7InVYA</string>
	<key>GCM_SENDER_ID</key>
	<string>175649557274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.erasmusingChat</string>
	<key>PROJECT_ID</key>
	<string>erasmusing-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>erasmusing-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175649557274:ios:0740b779a211e67784faa3</string>
</dict>
</plist>